/* ================================
        Footer css
================================ */
footer {
    background-color: $darkPurple;
    color: $mediumPink;
    font-family: 'Rajdhani', sans-serif;
    font-size: rem-calc(12);
    font-weight: 400;
    padding: 20px 0 10px;
    text-align: center;

    a {
        color: $mediumPink;
    }

    div {
        display: flex;
        font-size: rem-calc(24);
        justify-content: space-between;
        margin: 0 100px 20px;
    }
}
