/* ================================
        Aside css
================================ */
#email {
    background-color: $lightGrey;
    color: $white;
    display: grid;
    grid-template-areas: ". aside aside";
    grid-template-columns: 25% auto 20px;

    div {
        align-items: center;
        background-color: $darkPurple;
        display: flex;
        font-family: 'Rajdhani', sans-serif;
        grid-area: aside;
        justify-content: space-between;
        padding: 10px 0 10px 10px;

        h1 {
            color: $mediumPink;
            font-size: rem-calc(35);
            font-weight: 700;
        }

        h2 {
            font-size: rem-calc(18);
            font-weight: 500;
        }

        nav {
            padding-right: 20px;
        }
    }
}
