/* ================================
        Aside css
================================ */
#email{
    background-color: $lightGrey;
    color: $white;
    display: grid;
    grid-template-columns: 25% auto 20px;
    grid-template-areas: ". aside aside";

    div{
        background-color: $darkPurple;
        grid-area: aside;
        font-family: 'Rajdhani', sans-serif;
        padding: 10px 0 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: rem-calc(35);
            font-weight: 700;
            color: $mediumPink;
        }

        h2{
            font-size: rem-calc(18);
            font-weight: 500;
        }

        nav{
            padding-right: 20px;
        }
    }
}
