/* ================================
        Enforcers css
================================ */
#enforcers{
    
    h1{
        font-family: 'Rajdhani', sans-serif;
        font-size: rem-calc(30);
        font-weight: 600;
        margin: 30px 0 10px;
    }

    p{
        font-family: 'Oswald', sans-serif;
        font-size: rem-calc(16);
        font-weight: 300;
        margin-bottom: 20px;
    }
}

#flavor-flex{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 -65px;
}

#left-flavor{
    background-image: url("../img/symbols/left-flavor.svg");
    height: 50px;
    background-repeat: no-repeat;
    margin: -30px 0 10px;
}

#p2{
    font-family: 'Oswald', sans-serif;
    font-size: rem-calc(16);
    font-weight: 300;
    margin-bottom: 20px;
    text-align: right;
}
