/* ================================
        Gallery css
================================ */
#gallery {
    background-color: $lightGrey;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;

    .gallery-image {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    #img-1 {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-row-start: 1;
    }

    #img-2 {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-row-start: 1;
    }

    #img-3 {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-row-start: 2;
    }

    #img-4 {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-row-start: 2;
    }

    #img-5 {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-row-start: 3;
    }

    #img-6 {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-row-start: 3;
    }
}

#gallery-nav {
    align-items: center;
    display: flex;
    margin: -140px 0 88px 35px;

    #view {
        background-color: $white;
        border-radius: 22px;
        color: $black;
        font-family: 'Orbitron', sans-serif;
        font-size: rem-calc(15);
        font-weight: 700;
        padding: 20px 20px 15px;
    }
}
