/* ================================
        Info css
================================ */
.grid-left{
    display: grid;
    grid-template-columns: 50%  10px auto 10px;
    grid-template-areas: "block . text .";
    padding-bottom: 20px;

    img{
        grid-area: block;
        height: 100px;
    }

    .text{
        grid-area: text;
    }
}

.grid-right{
    display: grid;
    grid-template-columns: 10px auto 10px 50%;
    grid-template-areas: ". text . block";
    padding-bottom: 20px;

    img{
        grid-area: block;
        height: 100px;
    }

    .text{
        grid-area: text;
        text-align: right;
    }
}

#info{
    font-family: 'Rajdhani', sans-serif;
    color: $darkPurple;
    background-color: $lightGrey;

    h3{
        font-size: rem-calc(20);
        font-weight: 700;
        margin-bottom: -7px;
    }

    h1{
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(22);
        letter-spacing: 2.5px;
    }

    p{
        font-family: 'Oswald', sans-serif;
        color: $black;
        font-size: rem-calc(15);
        font-weight: 300;
    }
}

.info-flex{
    display: flex;
    align-items: center;

    #info-3{
        background-image: url("../img/info/freeplay.jpg");
        height: 100px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #info-1{
        background-image: url("../img/info/omegathon.jpg");
        height: 100px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.info-flex-2{
    grid-area: block;
    display: flex;
    align-items: center;

    #info-2{
        background-image: url("../img/info/miniatures.jpg");
        height: 100px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #info-4{
        background-image: url("../img/info/alpha.jpg");
        height: 100px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
