/* ================================
        Logo css
================================ */
#Logo{
    background-image: url("../img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    margin: 20px;
}
